img{
    width: 200px;
}

.bg-light {
    background-color: #142137 !important;
    height: 80px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 25px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255 )' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} 

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,0)
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #22afe6;
}

.navbar li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}

.navbar a {
    padding: .5em .8em;
    color: #22afe6;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.navbar a::before,
.navbar a::after {
    content: '';
    height: 14px;
    width: 14px;
    color: #22afe6;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.navbar a::before {
    content: '';
    right: 0;
    top: 0;
    color: #22afe6;
    border-top: 3px solid #22afe6;
    border-right: 3px solid #22afe6;
    transform: translate(-100%, 50%);
}

.navbar a:after {
    content: '';
    left: 0;
    bottom: 0;
    color: #22afe6;
    border-bottom: 3px solid #22afe6;
    border-left: 3px solid #22afe6;
    transform: translate(100%, -50%)
}

.navbar a:hover:before,
.navbar a:hover:after {
    transform: translate(0,0);
    opacity: 1;
}